set gfxmode=640x480x16
set gfxpayload=keep

insmod vbe
insmod vga
insmod video_cirrus
insmod gfxterm

set menu_color_normal=black/black
set menu_color_highlight=red/black

loadfont /boot/grub/fonts/unicode.pf2

terminal_input console
terminal_output gfxterm

set default=0
set timeout=0

menuentry 'ModularOS' {
    multiboot /boot/Kernel.bin
    boot
}
